In [1]:
from textblob import TextBlob

In [45]:
import pandas as pd
News_df = pd.read_csv('RedditNews.csv')

Label_df = pd.read_csv('Combined_News_DJIA.csv')

In [46]:
label_df = Label_df[['Date','Label']]

In [47]:
News_df.head()

       Date                                               News
0  7/1/2016  A 117-year-old woman in Mexico City finally re...
1  7/1/2016   IMF chief backs Athens as permanent Olympic host
2  7/1/2016  The president of France says if Brexit won so ...
3  7/1/2016  British Man Who Must Give Police 24 Hours' Not...
4  7/1/2016  100+ Nobel laureates urge Greenpeace to stop o...

In [48]:
Label_df.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."
2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...",...,b'U.S. troops still in Georgia (did you know t...,b'Why Russias response to Georgia was right',"b'Gorbachev accuses U.S. of making a ""serious ...","b'Russia, Georgia, and NATO: Cold War Two'",b'Remember that adorable 62-year-old who led y...,b'War in Georgia: The Israeli connection',b'All signs point to the US encouraging Georgi...,b'Christopher King argues that the US and NATO...,b'America: The New Mexico?',"b""BBC NEWS | Asia-Pacific | Extinction 'by man..."
3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',...,b'Elephants extinct by 2020?',b'US humanitarian missions soon in Georgia - i...,"b""Georgia's DDOS came from US sources""","b'Russian convoy heads into Georgia, violating...",b'Israeli defence minister: US against strike ...,b'Gorbachev: We Had No Choice',b'Witness: Russian forces head towards Tbilisi...,b' Quarter of Russians blame U.S. for conflict...,b'Georgian president says US military will ta...,b'2006: Nobel laureate Aleksander Solzhenitsyn...
4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",...,b'Bank analyst forecast Georgian crisis 2 days...,"b""Georgia confict could set back Russia's US r...",b'War in the Caucasus is as much the product o...,"b'""Non-media"" photos of South Ossetia/Georgia ...",b'Georgian TV reporter shot by Russian sniper ...,b'Saudi Arabia: Mother moves to block child ma...,b'Taliban wages war on humanitarian aid workers',"b'Russia: World ""can forget about"" Georgia\'s...",b'Darfur rebels accuse Sudan of mounting major...,b'Philippines : Peace Advocate say Muslims nee...

In [49]:
label_df.to_csv('Label_Dates.csv')

In [50]:
Date_news = {}
import string
import nltk

stopwords = nltk.corpus.stopwords.words('english')
p = string.punctuation
d = string.digits
table_p = string.maketrans(p, len(p) * " ")
table_d = string.maketrans(d, len(d) * " ")
with open('RedditNews.csv','r') as f:
    content = f.read()
    i = 1
    for i in content.splitlines():
        try:
            news = i.split(',')
            #print(news[1])
            s = news[1].translate(table_d)
            s = s.lower().translate(table_p)
            #print(s)
            w_list = [word for word in s.split() if word not in stopwords and len(word)>2]
            s = " ".join(w_list)
            #print('\n')
            if news[0] not in Date_news:
                Date_news[news[0]] = s
            else:
                Date_news[news[0]] += ' ' + s
        except:
            continue

In [51]:
date_headlines_df = pd.DataFrame(Date_news.items(), columns=['Date', 'Headlines'])

In [52]:
from textblob import TextBlob
subjectivity = []
polarity = []

for i in date_headlines_df['Headlines']:
    tb_sent = TextBlob(i)
    subjectivity.append(tb_sent.subjectivity)
    polarity.append(tb_sent.polarity)
    #anger.append(tb_sent.classify)

In [53]:
date_headlines_df['Subjectivity'] = subjectivity
date_headlines_df['Polarity'] = polarity

In [11]:
date_headlines_df.to_csv('Cleaned_Data.csv')

In [54]:
from nltk.stem.porter import PorterStemmer
porter_stemmer = PorterStemmer()
Headlines_stem = []
for sen in date_headlines_df['Headlines']:
    t = []
    for word in sen.split():
        #print word
        t.append(porter_stemmer.stem(word))
    #print t
    s = ' '.join(t)
    Headlines_stem.append(s)
    #print s

In [55]:
date_headlines_df['Stemmed_Headline'] = Headlines_stem

In [38]:
date_headlines_df.count

<bound method DataFrame.count of             Date                                          Headlines  \
0       3/4/2009  bigoted parents want see disabled people telly...
1       5/1/2015  new test suggests nasa impossible drive work s...
2       5/1/2014  france agrees workers give days colleagues sic...
3       5/1/2016  iran new parliament women clerics report germa...
4       5/1/2011  fears china another human rights lawyer disapp...
5       5/1/2010  linguists discover dying languages new york ci...
6       5/1/2013  last rhinos mozambique killed poachers year ol...
7       5/1/2012  conclude therefore rupert murdoch fit person e...
8       3/5/2009  stop bill say mandatory jail terms marijuana y...
9      10/2/2013  south korean carmaker hyundai motor defer paym...
10     10/2/2012  mafia runs illegal tropics logging illegal log...
11     7/19/2015  japanese salmon trout fishing boat hokkaido se...
12     7/19/2014  nude photos strangers fringe benefit nsa emplo...
13     7/19/2013  former cia station chief arrested panama faces...
14     7/19/2012  drug decriminalization portugal decreases numb...
15     10/2/2015  saudi arabia insists keeps lgbt rights develop...
16     10/2/2014  germany abolished college tuition fees thinkpr...
17      4/6/2009  dubai build city scientology sued human traffi...
18    12/11/2009  buy many worlds intepretation quantum physics ...
19    12/11/2008  unrest gripped greece spilling rest europe rai...
20     1/14/2009  headquarters gaza hit israeli white phosphorus...
21    11/12/2009  idea oil company participating drafting iraqi ...
22    11/12/2008  stupid believing witchcraft work much harder r...
23      7/3/2008  billion bottles water pic bbc explains mistake...
24      9/9/2010  afghan insurgents give captive reporter cell p...
25     8/21/2015  kim jong orders north korea military prepare w...
26     8/21/2014  isis spokesman promised raise flag allah white...
27     8/21/2013  british david cameron told member cabinet warn...
28     8/21/2012  iran bans women university degree courses swed...
29     8/21/2011  monsanto mortal danger traditional agriculture...
...          ...                                                ...
2914    1/2/2014  japan population falls record kolkata police h...
2915    1/2/2015  cases cancer result sheer bad luck rather unhe...
2916    1/2/2016  seventh row periodic table officially full cof...
2917   2/10/2009  saudi judge sentences pregnant gang rape victi...
2918    1/2/2010  police raid georgian lgbt center women ngroup ...
2919    1/2/2011  german interior minister wikileaks irritating ...
2920    1/2/2012  seven year old indian girl murdered tribal sac...
2921    1/2/2013  pakistan gunmen stop van containing teachers e...
2922   1/10/2016  swedish police accused covering rampant sexual...
2923   1/10/2014  people behind gsm standard pressured weaken mo...
2924   1/10/2015  boss hot new york modeling agency supplied jef...
2925   1/10/2012  australia tells japan whalers stay waters top ...
2926   1/10/2013  world population could actually start declinin...
2927   1/10/2010  pilot life exhausting hours meagre wages russi...
2928   1/10/2011  russia murrow moment leonid parfyonov stunning...
2929   2/23/2013  briton finds year old arrest warrant machiavel...
2930   2/23/2012  finally outrage china bear farming imagine cou...
2931   2/23/2011  anyone listening gadaffi right batshit insane ...
2932   2/23/2010  italian thugs upload youtube video showing bea...
2933   7/24/2008  key benazir bhutto assassination witness shot ...
2934   2/23/2016  fuel gotten cheap ships choosing take long way...
2935   2/23/2015  family codebreaker alan turing visit downing s...
2936   2/23/2014  mexico biggest drug lord joaquin chapo guzman ...
2937   3/12/2009  israel day offensive hamas ruled gaza strip ki...
2938    7/2/2014  facebook investigation mood manipulation study...
2939    7/2/2015  saudi prince give away said inspired gates fou...
2940    7/2/2012  announcing declaration internet freedom whole ...
2941    7/2/2013  statement edward snowden moscow angry resident...
2942    7/2/2010  sweden ends compulsory military service mexica...
2943    7/2/2011  portugal drug law show results ten years healt...

      Subjectivity  Polarity  \
0         0.351697  0.022576
1         0.288597 -0.081782
2         0.252259 -0.095256
3         0.276026  0.060743
4         0.286500  0.132667
5         0.451396  0.107167
6         0.371320 -0.005422
7         0.349537 -0.011143
8         0.291007 -0.031623
9         0.327083 -0.001823
10        0.488145  0.047635
11        0.377419 -0.034677
12        0.264156  0.051418
13        0.373344  0.092759
14        0.439203  0.010357
15        0.318915  0.020767
16        0.335000 -0.087143
17        0.362659 -0.094246
18        0.409397 -0.019144
19        0.382273 -0.010242
20        0.380702 -0.139474
21        0.298370  0.010950
22        0.355581 -0.037159
23        0.223144 -0.021515
24        0.383333 -0.006061
25        0.310201  0.045366
26        0.317223  0.034470
27        0.420425 -0.132857
28        0.324107 -0.027232
29        0.306207  0.110948
...            ...       ...
2914      0.320750  0.082742
2915      0.324164 -0.038723
2916      0.265498 -0.017834
2917      0.452866  0.084347
2918      0.495858  0.052781
2919      0.316911 -0.013703
2920      0.313736  0.070853
2921      0.368047 -0.046699
2922      0.357309  0.077935
2923      0.401131 -0.000164
2924      0.389238  0.046101
2925      0.253365  0.064097
2926      0.353261 -0.052284
2927      0.263280 -0.028756
2928      0.434212  0.105728
2929      0.425003  0.013850
2930      0.423288  0.036787
2931      0.398299 -0.114286
2932      0.432977 -0.024778
2933      0.367544 -0.056360
2934      0.350798 -0.026670
2935      0.375732  0.065938
2936      0.162255  0.092157
2937      0.403444 -0.039118
2938      0.212823 -0.069641
2939      0.358790  0.037981
2940      0.282333  0.046333
2941      0.321669 -0.017869
2942      0.299758  0.017166
2943      0.332643  0.055790

                                       Stemmed_Headline
0     bigot parent want see disabl peopl telli cambo...
1     new test suggest nasa imposs drive work space ...
2     franc agre worker give day colleagu sick child...
3     iran new parliament women cleric report german...
4     fear china anoth human right lawyer disappear ...
5     linguist discov die languag new york citi fami...
6     last rhino mozambiqu kill poacher year old gir...
7     conclud therefor rupert murdoch fit person exe...
8     stop bill say mandatori jail term marijuana ya...
9     south korean carmak hyundai motor defer paymen...
10    mafia run illeg tropic log illeg log drive lio...
11    japanes salmon trout fish boat hokkaido seiz r...
12    nude photo stranger fring benefit nsa employe ...
13    former cia station chief arrest panama face ex...
14    drug decrimin portug decreas number addict pou...
15    saudi arabia insist keep lgbt right develop go...
16    germani abolish colleg tuition fee thinkprogre...
17    dubai build citi scientolog su human traffick ...
18    buy mani world intepret quantum physic must pa...
19    unrest grip greec spill rest europ rais concer...
20    headquart gaza hit isra white phosphoru shell ...
21    idea oil compani particip draft iraqi constitu...
22    stupid believ witchcraft work much harder reco...
23    billion bottl water pic bbc explain mistakenli...
24    afghan insurg give captiv report cell phone sh...
25    kim jong order north korea militari prepar war...
26    isi spokesman promis rais flag allah white hou...
27    british david cameron told member cabinet warn...
28    iran ban women univers degre cours sweden want...
29    monsanto mortal danger tradit agricultur contr...
...                                                 ...
2914  japan popul fall record kolkata polic hijack r...
2915  case cancer result sheer bad luck rather unhea...
2916  seventh row period tabl offici full coffe got ...
2917  saudi judg sentenc pregnant gang rape victim l...
2918  polic raid georgian lgbt center women ngroup h...
2919  german interior minist wikileak irrit annoy ge...
2920  seven year old indian girl murder tribal sacri...
2921  pakistan gunmen stop van contain teacher educ ...
2922  swedish polic accus cover rampant sexual abus ...
2923  peopl behind gsm standard pressur weaken mobil...
2924  boss hot new york model agenc suppli jefferi e...
2925  australia tell japan whaler stay water top ger...
2926  world popul could actual start declin cia anal...
2927  pilot life exhaust hour meagr wage russian com...
2928  russia murrow moment leonid parfyonov stun spe...
2929  briton find year old arrest warrant machiavell...
2930  final outrag china bear farm imagin countri st...
2931  anyon listen gadaffi right batshit insan libya...
2932  italian thug upload youtub video show beat aut...
2933  key benazir bhutto assassin wit shot dead six ...
2934  fuel gotten cheap ship choos take long way aro...
2935  famili codebreak alan ture visit down street m...
2936  mexico biggest drug lord joaquin chapo guzman ...
2937  israel day offens hama rule gaza strip kill pe...
2938  facebook investig mood manipul studi african l...
2939  saudi princ give away said inspir gate foundat...
2940  announc declar internet freedom whole bunch or...
2941  statement edward snowden moscow angri resid to...
2942  sweden end compulsori militari servic mexican ...
2943  portug drug law show result ten year health ex...

[2944 rows x 5 columns]>

In [13]:
Date_closingPrice_df = pd.read_csv('DJIA_table.csv')
Date_closingPrice_df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,7/1/2016,17924.24023,18002.38086,17916.91016,17949.36914,82160000,17949.36914
1,6/30/2016,17712.75977,17930.60938,17711.80078,17929.99023,133030000,17929.99023
2,6/29/2016,17456.01953,17704.50977,17456.01953,17694.67969,106380000,17694.67969
3,6/28/2016,17190.50977,17409.72070,17190.50977,17409.72070,112190000,17409.72070
4,6/27/2016,17355.21094,17355.21094,17063.08008,17140.24023,138740000,17140.24023

In [56]:
date_headlines_df.head()

,Date,Headlines,Subjectivity,Polarity,Stemmed_Headline
0,3/4/2009,bigoted parents want see disabled people telly...,0.351697,0.022576,bigot parent want see disabl peopl telli cambo...
1,5/1/2015,new test suggests nasa impossible drive work s...,0.288597,-0.081782,new test suggest nasa imposs drive work space ...
2,5/1/2014,france agrees workers give days colleagues sic...,0.252259,-0.095256,franc agre worker give day colleagu sick child...
3,5/1/2016,iran new parliament women clerics report germa...,0.276026,0.060743,iran new parliament women cleric report german...
4,5/1/2011,fears china another human rights lawyer disapp...,0.286500,0.132667,fear china anoth human right lawyer disappear ...

In [15]:
#date_headlines_df['Date'] = pd.to_datetime(date_headlines_df.Date)
#date_headlines_df['Date_changed'] = date_headlines_df['Date'].dt.strftime('%m/%d/%Y')
#date_headlines_df.head()

In [15]:
Date_closingPrice_df['Date'] = pd.to_datetime(Date_closingPrice_df.Date)
Date_closingPrice_df['Date_changed'] = Date_closingPrice_df['Date'].dt.strftime('%m/%d/%Y')

In [16]:
Date_closingPrice_df.head()

,Date,Open,High,Low,Close,Volume,Adj Close,Date_changed
0,2016-07-01,17924.24023,18002.38086,17916.91016,17949.36914,82160000,17949.36914,07/01/2016
1,2016-06-30,17712.75977,17930.60938,17711.80078,17929.99023,133030000,17929.99023,06/30/2016
2,2016-06-29,17456.01953,17704.50977,17456.01953,17694.67969,106380000,17694.67969,06/29/2016
3,2016-06-28,17190.50977,17409.72070,17190.50977,17409.72070,112190000,17409.72070,06/28/2016
4,2016-06-27,17355.21094,17355.21094,17063.08008,17140.24023,138740000,17140.24023,06/27/2016

In [22]:
DJIA_Prices_df = pd.read_csv('DJIA_table.csv')
DJIA_Prices_df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,7/1/2016,17924.24023,18002.38086,17916.91016,17949.36914,82160000,17949.36914
1,6/30/2016,17712.75977,17930.60938,17711.80078,17929.99023,133030000,17929.99023
2,6/29/2016,17456.01953,17704.50977,17456.01953,17694.67969,106380000,17694.67969
3,6/28/2016,17190.50977,17409.72070,17190.50977,17409.72070,112190000,17409.72070
4,6/27/2016,17355.21094,17355.21094,17063.08008,17140.24023,138740000,17140.24023

In [23]:
Cleaned_df = pd.read_csv('Cleaned_Data.csv')
Cleaned_df.head()

,Unnamed: 0,Date,Headlines,Subjectivity,Polarity
0,0,3/4/2009,bigoted parents want see disabled people telly...,0.351697,0.022576
1,1,5/1/2015,new test suggests nasa impossible drive work s...,0.288597,-0.081782
2,2,5/1/2014,france agrees workers give days colleagues sic...,0.252259,-0.095256
3,3,5/1/2016,iran new parliament women clerics report germa...,0.276026,0.060743
4,4,5/1/2011,fears china another human rights lawyer disapp...,0.286500,0.132667

In [24]:
merged_df = pd.merge(DJIA_Prices_df, Cleaned_df, on= 'Date', how= 'inner')

In [61]:
merged_df.sort_values(by = 'Date', axis = 0, ascending= True, kind= 'quicksort')
#merged_df.count

,Date,Open,High,Low,Close,Volume,Adj Close,Unnamed: 0,Headlines,Subjectivity,Polarity
1378,1/10/2011,11672.339840,11677.330080,11573.870120,11637.450200,150340000,11637.450200,2928,russia murrow moment leonid parfyonov stunning...,0.434212,0.105728
1126,1/10/2012,12394.509770,12514.690430,12394.509770,12462.469730,141230000,12462.469730,2925,australia tells japan whalers stay waters top ...,0.253365,0.064097
875,1/10/2013,13391.820310,13478.200200,13382.290040,13471.219730,133520000,13471.219730,2926,world population could actually start declinin...,0.353261,-0.052284
623,1/10/2014,16453.619140,16487.650390,16379.019530,16437.050780,85190000,16437.050780,2923,people behind gsm standard pressured weaken mo...,0.401131,-0.000164
1630,1/11/2010,10620.309570,10676.230470,10591.589840,10663.990230,182050000,10663.990230,1992,would former guantanamo bay prison guard track...,0.314716,-0.062766
1377,1/11/2011,11638.509770,11704.120120,11635.480470,11671.879880,157440000,11671.879880,1991,reddit brisbane one largest cities currently w...,0.410040,0.071541
1125,1/11/2012,12459.519530,12462.580080,12399.009770,12449.450200,130260000,12449.450200,1994,due pressure ultra orthodox groups women banne...,0.337313,-0.016247
874,1/11/2013,13471.450200,13496.679690,13439.969730,13488.429690,119200000,13488.429690,1993,saudi arabia beheads young sri lankan maid des...,0.286478,0.034228
120,1/11/2016,16358.709960,16461.849610,16232.030270,16398.570310,127790000,16398.570310,1990,iran removes core arak heavy water nuclear rea...,0.313333,0.029333
1881,1/12/2009,8599.259766,8602.599609,8421.080078,8473.969727,273550000,8473.969727,2256,video israeli army want see momentum growing i...,0.284601,0.010227
1629,1/12/2010,10662.860350,10663.080080,10568.839840,10627.259770,256050000,10627.259770,2504,dear world chinese government stole intellectu...,0.326872,-0.016399
1376,1/12/2011,11673.620120,11782.230470,11673.620120,11755.440430,144960000,11755.440430,2505,west african farmers succeeded cutting use tox...,0.227364,-0.015091
1124,1/12/2012,12449.910160,12483.700200,12385.080080,12471.019530,128230000,12471.019530,2506,loggers brazil captured eight year old girl on...,0.326984,0.051515
371,1/12/2015,17742.050780,17793.880860,17571.580080,17640.839840,92500000,17640.839840,2509,world largest indoor farm japan times producti...,0.241809,-0.103681
119,1/12/2016,16419.109380,16591.349610,16322.070310,16516.220700,117480000,16516.220700,2510,oil falls barrel first time since december mig...,0.331704,0.109774
1880,1/13/2009,8474.610352,8522.080078,8376.879883,8448.559570,304050000,8448.559570,216,greece hinders arms delivery israel canada one...,0.260259,0.008807
1628,1/13/2010,10628.089840,10709.259770,10614.490230,10680.769530,202810000,10680.769530,629,please www redcross org donate least help peop...,0.466948,0.085438
1375,1/13/2011,11753.700200,11757.250000,11700.530270,11731.900390,161660000,11731.900390,628,aussie want everyone know brazil sri lanka suf...,0.434686,0.029573
1123,1/13/2012,12469.959960,12470.120120,12311.790040,12422.059570,161470000,12422.059570,627,scotland yard report finds british citizen tor...,0.323939,0.001818
622,1/13/2014,16434.029300,16453.130860,16240.599610,16257.940430,111680000,16257.940430,625,broad coalition well known organizations reddi...,0.320930,-0.023074
370,1/13/2015,17645.019530,17923.009770,17498.230470,17613.679690,99360000,17613.679690,624,china banned burqa biggest muslim city politic...,0.374760,-0.002790
118,1/13/2016,16526.630860,16593.509770,16123.200200,16151.410160,153530000,16151.410160,623,explosions heard indonesian capital jakarta re...,0.330973,0.094244
1879,1/14/2009,8446.009766,8446.250000,8140.720215,8200.139648,355050000,8200.139648,20,headquarters gaza hit israeli white phosphorus...,0.380702,-0.139474
1627,1/14/2010,10680.160160,10723.769530,10666.860350,10710.549810,201320000,10710.549810,176,never ceases amaze times amazing human sufferi...,0.436004,-0.031194
1374,1/14/2011,11732.129880,11794.150390,11698.830080,11787.379880,200770000,11787.379880,177,haiti reconstruction firms get every rest goes...,0.237897,0.018155
873,1/14/2013,13488.429690,13520.179690,13459.839840,13507.320310,118460000,13507.320310,175,german govt unexpectedly offers paris concrete...,0.284511,0.027008
621,1/14/2014,16261.990230,16373.919920,16260.830080,16373.860350,98610000,16373.860350,179,mozilla calls world protect firefox browser ns...,0.397271,0.003595
369,1/14/2015,17609.060550,17609.060550,17264.900390,17427.089840,109180000,17427.089840,180,cameroon army kills boko haram fighters air fr...,0.249633,-0.015565
117,1/14/2016,16159.009770,16482.050780,16075.120120,16379.049810,158830000,16379.049810,178,crimes japan falls postwar low murder populati...,0.274134,-0.015409
1878,1/15/2009,8196.240234,8286.160156,7995.129883,8212.490234,436660000,8212.490234,2512,vatican reveals list worst sins desecrating eu...,0.350537,0.025821
...,...,...,...,...,...,...,...,...,...,...,...
190,9/30/2015,16057.080080,16297.599610,16057.080080,16284.700200,145740000,16284.700200,1202,germany translated first articles country cons...,0.342949,0.038218
1970,9/4/2008,11532.480470,11532.480470,11176.019530,11188.230470,229200000,11188.230470,1052,security guards beat man soccer football game ...,0.370455,-0.068903
1717,9/4/2009,9345.360352,9445.719727,9321.629883,9441.269531,152400000,9441.269531,1240,six year old girl become media darling china f...,0.350518,0.023384
962,9/4/2012,13092.150390,13092.389650,12977.089840,13035.940430,103920000,13035.940430,1464,virus eats cancer cheap tens thousands elephan...,0.312121,0.120403
712,9/4/2013,14832.419920,14956.740230,14799.089840,14930.870120,122150000,14930.870120,1465,major commercial networks australia refusing a...,0.332891,0.025459
460,9/4/2014,17083.609380,17161.550780,17030.119140,17069.580080,68120000,17069.580080,1468,russia warns nato offer membership ukraine fra...,0.298795,0.015849
207,9/4/2015,16371.759770,16371.759770,16026.610350,16102.379880,127270000,16102.379880,1469,jordan population million taken million refuge...,0.483913,0.015854
1969,9/5/2008,11185.629880,11245.150390,11037.849610,11220.959960,198300000,11220.959960,145,jordan honor killings women murdered reasons c...,0.280882,0.017279
961,9/5/2012,13036.089840,13095.910160,13018.740230,13047.480470,92550000,13047.480470,311,believe cnn making put knew government lies re...,0.296912,-0.084065
711,9/5/2013,14929.490230,14987.469730,14923.269530,14937.480470,101010000,14937.480470,310,hours australian election middle advertising b...,0.333824,0.072304
459,9/5/2014,17065.890630,17137.359380,17009.619140,17137.359380,76630000,17137.359380,307,convincing china give shark fin soup yao ming ...,0.355740,0.005770
1213,9/6/2011,11237.309570,11237.459960,10932.530270,11139.299810,217420000,11139.299810,169,turkish suspends ties israel nigeria shifting ...,0.276925,0.004249
960,9/6/2012,13045.230470,13294.129880,13045.080080,13292.000000,128650000,13292.000000,170,evangelical christian doctor australia banned ...,0.350190,-0.032601
710,9/6/2013,14941.549810,15009.839840,14789.400390,14922.500000,108410000,14922.500000,171,new documentary shows televangelist pat robert...,0.350581,-0.017854
1465,9/7/2010,10446.799810,10446.799810,10332.400390,10340.690430,149040000,10340.690430,2174,two redditors climbing kilimanjaro charity bid...,0.336935,-0.035982
1212,9/7/2011,11137.629880,11414.860350,11137.629880,11414.860350,166320000,11414.860350,2173,wikileaks every law proposal every ordinance e...,0.417449,-0.021932
959,9/7/2012,13289.530270,13320.269530,13266.219730,13306.639650,142210000,13306.639650,2172,afghan actress stabbed death male mob appearin...,0.395470,0.010085
1968,9/8/2008,11224.870120,11570.660160,11224.790040,11510.740230,273000000,11510.740230,370,french judge ordered two branches scientologis...,0.300216,-0.117316
1716,9/8/2009,9440.129883,9511.019531,9439.980469,9497.339844,202370000,9497.339844,369,israel army changing proudly secular combat un...,0.359823,0.166365
1464,9/8/2010,10338.490230,10426.700200,10335.690430,10387.009770,166760000,10387.009770,1833,safe place raped harvesting crops going market...,0.399123,0.049561
1211,9/8/2011,11414.860350,11477.299810,11283.740230,11295.809570,173040000,11295.809570,1834,lifetime ban blood donations homosexual bisexu...,0.424579,-0.061644
458,9/8/2014,17131.710940,17137.880860,17079.169920,17111.419920,65640000,17111.419920,1829,chinese boy made discovery lifetime stumbling ...,0.239489,0.002107
206,9/8/2015,16109.929690,16503.410160,16109.929690,16492.679690,123870000,16492.679690,1830,homeopathy conference germany ends chaos deleg...,0.309192,0.109091
1967,9/9/2008,11514.730470,11577.500000,11230.730470,11230.730470,257300000,11230.730470,2258,love world thai prime minister samak sundarave...,0.423433,-0.037539
1715,9/9/2009,9496.589844,9577.219727,9476.179688,9547.219727,190820000,9547.219727,1837,british nurse struck register secretly filming...,0.293519,-0.043866
1463,9/9/2010,10388.139650,10476.620120,10386.629880,10415.240230,163590000,10415.240230,24,afghan insurgents give captive reporter cell p...,0.383333,-0.006061
1210,9/9/2011,11294.599610,11294.830080,10935.639650,10992.129880,228170000,10992.129880,1435,turkish prime minister turkish navy escort aid...,0.267083,-0.035255
709,9/9/2013,14927.190430,15088.410160,14927.190430,15063.120120,90660000,15063.120120,2458,norway money knows biggest challenge oil wealt...,0.430637,0.042157
457,9/9/2014,17110.390630,17111.550780,16993.289060,17013.869140,69030000,17013.869140,2461,new report world leaders call ending criminali...,0.307295,0.049719
205,9/9/2015,16505.039060,16664.650390,16220.099610,16253.570310,118790000,16253.570310,2460,sometimes men raped one daywe thought going di...,0.357955,0.085303

In [57]:
#Reading the csv with dates and labels
Label_df = pd.read_csv('Label_Dates_1.csv')

In [58]:
final_df = pd.merge(date_headlines_df, Label_df, on= 'Date', how= 'inner')

In [59]:
final_df['Label'].value_counts()

1    1065
0     924
Name: Label, dtype: int64

In [62]:
final_df.head()

,Date,Headlines,Subjectivity,Polarity,Stemmed_Headline,Label
0,3/4/2009,bigoted parents want see disabled people telly...,0.351697,0.022576,bigot parent want see disabl peopl telli cambo...,1
1,5/1/2015,new test suggests nasa impossible drive work s...,0.288597,-0.081782,new test suggest nasa imposs drive work space ...,1
2,5/1/2014,france agrees workers give days colleagues sic...,0.252259,-0.095256,franc agre worker give day colleagu sick child...,0
3,5/1/2013,last rhinos mozambique killed poachers year ol...,0.371320,-0.005422,last rhino mozambiqu kill poacher year old gir...,0
4,5/1/2012,conclude therefore rupert murdoch fit person e...,0.349537,-0.011143,conclud therefor rupert murdoch fit person exe...,1

In [285]:
X = final_df.Headlines
X_stemmed = final_df.Stemmed_Headline
y = final_df.Label
print type(X)

<class 'pandas.core.series.Series'>

In [338]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train_stm, X_test_stm, y_train_stm, y_test_stm = train_test_split(X_stemmed, y, random_state=1)

In [339]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1491L,)
(498L,)
(1491L,)
(498L,)

In [340]:
# import and instantiate CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()
print type(vect)

<class 'sklearn.feature_extraction.text.CountVectorizer'>

In [82]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words="english",max_features=3000)

#print(vectorizer.get_feature_names())
print type(matrix)
print(matrix.shape)
print(matrix.toarray()) 
array = matrix.toarray()

<class 'scipy.sparse.csr.csr_matrix'>
(1989, 3000)
[[ 0.          0.          0.         ...,  0.          0.          0.        ]
 [ 0.          0.          0.         ...,  0.          0.          0.        ]
 [ 0.          0.          0.         ...,  0.          0.          0.        ]
 ...,
 [ 0.14609358  0.          0.         ...,  0.          0.          0.        ]
 [ 0.05908074  0.          0.         ...,  0.          0.          0.        ]
 [ 0.          0.          0.         ...,  0.          0.          0.        ]]

In [341]:
# fit and transform X_train into X_train_dtm
X_train_dtm = vect.fit_transform(X_train)
X_train_dtm.shape

(1491, 28795)

In [342]:
# transform X_test into X_test_dtm
X_test_dtm = vect.transform(X_test)
X_test_dtm.shape

(498, 28795)

In [295]:
X_train_stm_dtm = vect.fit_transform(X_train_stm)
X_train_stm_dtm.shape

(1491, 18855)

In [296]:
# transform X_test into X_test_dtm
X_test_stm_dtm = vect.transform(X_test_stm)
X_test_stm_dtm.shape

(498, 18855)

In [387]:
# Decision tree for headlines without stemming
# import and instantiate MultinomialNB
from sklearn import tree
clf = tree.DecisionTreeClassifier()
#clf = clf.fit(iris.data, iris.target)
clf.fit(X_train_dtm, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [388]:
#Accuracy using decision tree
y_pred_class_tree = clf.predict(X_test_dtm)

from sklearn import metrics
print("F1-Score: {}".format( metrics.f1_score(y_test, y_pred_class_tree)))
print("Accuracy: {}".format( metrics.accuracy_score(y_test, y_pred_class_tree)))
print metrics.classification_report(y_test, y_pred_class_tree)
metrics.accuracy_score(y_test, y_pred_class_tree)

F1-Score: 0.55303030303
Accuracy: 0.526104417671
             precision    recall  f1-score   support

          0       0.49      0.50      0.50       230
          1       0.56      0.54      0.55       268

avg / total       0.53      0.53      0.53       498

0.52610441767068272

In [382]:
# Decision tree for headlines with stemming
# import and instantiate MultinomialNB
from sklearn import tree
clf = tree.DecisionTreeClassifier()
#clf = clf.fit(iris.data, iris.target)
clf.fit(X_train_stm_dtm, y_train_stm)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [302]:
#Accuracy using decision tree
y_pred_class_stm_tree = clf.predict(X_test_stm_dtm)

from sklearn import metrics
print("F1-Score: {}".format( metrics.f1_score(y_test_stm, y_pred_class_stm_tree)))
print("Accuracy: {}".format( metrics.accuracy_score(y_test_stm, y_pred_class_stm_tree)))
print metrics.classification_report(y_test_stm, y_pred_class_stm_tree)
metrics.accuracy_score(y_test_stm, y_pred_class_stm_tree)

F1-Score: 0.492424242424
Accuracy: 0.461847389558
             precision    recall  f1-score   support

          0       0.42      0.43      0.43       230
          1       0.50      0.49      0.49       268

avg / total       0.46      0.46      0.46       498

0.46184738955823296

In [345]:
# print the confusion matrix
metrics.confusion_matrix(y_test, y_pred_class_tree)

array([[115, 115],
       [124, 144]])

In [304]:
# print the confusion matrix
metrics.confusion_matrix(y_test_stm, y_pred_class_stm_tree)

array([[100, 130],
       [138, 130]])

In [346]:
# import and instantiate MultinomialNB
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [347]:
# train the model using X_train_dtm
nb.fit(X_train_dtm, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [348]:
# make class predictions for X_test_dtm
y_pred_class_nb = nb.predict(X_test_dtm)

In [349]:
# calculate accuracy of class predictions
from sklearn import metrics
print("F1-Score: {}".format( metrics.f1_score(y_test, y_pred_class_nb)))
print("Accuracy: {}".format( metrics.accuracy_score(y_test, y_pred_class_nb)))
print metrics.classification_report(y_test, y_pred_class_nb)

F1-Score: 0.577181208054
Accuracy: 0.493975903614
             precision    recall  f1-score   support

          0       0.44      0.32      0.37       230
          1       0.52      0.64      0.58       268

avg / total       0.48      0.49      0.48       498

In [350]:
# print the confusion matrix
metrics.confusion_matrix(y_test, y_pred_class_nb)

array([[ 74, 156],
       [ 96, 172]])

In [313]:
# train the model using X_train_dtm
nb.fit(X_train_stm_dtm, y_train_stm)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [314]:
# make class predictions for X_test_dtm
y_pred_class_stm_nb = nb.predict(X_test_stm_dtm)

In [315]:
# calculate accuracy of class predictions
from sklearn import metrics
print("F1-Score: {}".format( metrics.f1_score(y_test_stm, y_pred_class_stm_nb)))
print("Accuracy: {}".format( metrics.accuracy_score(y_test_stm, y_pred_class_stm_nb)))
print metrics.classification_report(y_test_stm, y_pred_class_stm_nb)

F1-Score: 0.564273789649
Accuracy: 0.475903614458
             precision    recall  f1-score   support

          0       0.41      0.30      0.34       230
          1       0.51      0.63      0.56       268

avg / total       0.46      0.48      0.46       498

In [316]:
# print the confusion matrix
metrics.confusion_matrix(y_test_stm, y_pred_class_stm_nb)

array([[ 68, 162],
       [ 99, 169]])

In [380]:
from sklearn.ensemble import RandomForestClassifier
clf_rf = RandomForestClassifier(n_estimators=10)
clf_rf.fit(X_train_dtm, y_train)
#Accuracy using Randomforest
y_pred_class_tree = clf_rf.predict(X_test_dtm)

from sklearn import metrics
print("F1-Score: {}".format( metrics.f1_score(y_test, y_pred_class_tree)))
print("Accuracy: {}".format( metrics.accuracy_score(y_test, y_pred_class_tree)))
print metrics.classification_report(y_test, y_pred_class_tree)

F1-Score: 0.544378698225
Accuracy: 0.536144578313
             precision    recall  f1-score   support

          0       0.50      0.56      0.53       230
          1       0.58      0.51      0.54       268

avg / total       0.54      0.54      0.54       498

In [356]:
from sklearn.ensemble import RandomForestClassifier
clf_rf = RandomForestClassifier(n_estimators=10)
clf_rf.fit(X_train_stm_dtm, y_train_stm)
#Accuracy using Randomforest
y_pred_class_stm_tree = clf_rf.predict(X_test_stm_dtm)

from sklearn import metrics
print("F1-Score: {}".format( metrics.f1_score(y_test_stm, y_pred_class_stm_tree)))
print("Accuracy: {}".format( metrics.accuracy_score(y_test_stm, y_pred_class_stm_tree)))
print metrics.classification_report(y_test_stm, y_pred_class_stm_tree)

F1-Score: 0.534136546185
Accuracy: 0.534136546185
             precision    recall  f1-score   support

          0       0.50      0.58      0.53       230
          1       0.58      0.50      0.53       268

avg / total       0.54      0.53      0.53       498

In [354]:
# examine the class distribution of the testing set
y_test.value_counts()

1    268
0    230
Name: Label, dtype: int64

In [320]:
# calculate null accuracy
y_test.value_counts().head(1) / y_test.shape

1    0.538153
Name: Label, dtype: float64

In [389]:
nb.feature_count_.shape

(2L, 28795L)

In [390]:
Stock_down = nb.feature_count_[0, :]
Stock_up = nb.feature_count_[1, :]

In [391]:
X_train_tokens = vect.get_feature_names()
len(X_train_tokens)

28795

In [392]:
# create a DataFrame of tokens with their separate one-star and five-star counts
tokens = pd.DataFrame({'token': X_train_tokens,'Low':Stock_down, 'High':Stock_up}).set_index('token')

In [393]:
tokens.dtypes

High    float64
Low     float64
dtype: object

In [394]:
tokens['Low'] = tokens.Low + 1
tokens['High'] = tokens.High + 1

In [395]:
nb.class_count_

array([ 694.,  797.])

In [396]:
# convert the Low and High counts into frequencies
tokens['Low'] = tokens.Low / nb.class_count_[0]
tokens['High'] = tokens.High / nb.class_count_[1]

In [397]:
# calculate the ratio of High to Low for each token
tokens['High_ratio'] = tokens.High / tokens.Low

In [398]:
# sort the DataFrame by High_ratio (descending order), and examine the first 10 rows
# note: use sort() instead of sort_values() for pandas 0.16.2 and earlier
tokens.sort_values('High_ratio', ascending=False).head(10)

                High       Low  High_ratio
token
federation  0.015056  0.001441   10.449184
donetsk     0.028858  0.002882   10.013802
repeal      0.012547  0.001441    8.707654
nose        0.011292  0.001441    7.836888
snowdens    0.011292  0.001441    7.836888
aipac       0.011292  0.001441    7.836888
sudden      0.011292  0.001441    7.836888
ray         0.011292  0.001441    7.836888
thriving    0.011292  0.001441    7.836888
nokia       0.011292  0.001441    7.836888

In [399]:
# sort the DataFrame by High_ratio (ascending order), and examine the first 10 rows
tokens.sort_values('High_ratio', ascending=True).head(10)

                High       Low  High_ratio
token
stars       0.001255  0.020173    0.062198
hitchens    0.001255  0.015850    0.079160
alarmed     0.001255  0.012968    0.096752
programmes  0.001255  0.011527    0.108846
invades     0.001255  0.011527    0.108846
graph       0.001255  0.010086    0.124395
burkina     0.001255  0.010086    0.124395
sustained   0.001255  0.010086    0.124395
hardest     0.001255  0.010086    0.124395
prohibits   0.001255  0.010086    0.124395

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier



clf = DecisionTreeClassifier(max_depth=None, min_samples_split=2,random_state=0)
scores = cross_val_score(clf, X_train_dtm, y_train)
print "Descision tree : {}".format(scores.mean())                       

clf = RandomForestClassifier(n_estimators=10, max_depth=None, min_samples_split=2, random_state=0)
scores = cross_val_score(clf, X_train_dtm, y_train)
print "Random forest : {}".format(scores.mean())                            


clf = ExtraTreesClassifier(n_estimators=10, max_depth=None,min_samples_split=2, random_state=0)
scores = cross_val_score(clf, X_train_dtm, y_train)
print "Extra Tree classifier: {}".format(scores.mean())

In [81]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,21182,21183,21184,21185,21186,21187,21188,21189,21190,21191
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
final_df.drop('Date', axis= 1, inplace= True)

In [76]:
final_df.dtypes

Headlines            object
Subjectivity        float64
Polarity            float64
Stemmed_Headline     object
Label                 int64
dtype: object